/* src/styles/global.css */

/*  Import and Define SF Pro Display font
@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Regular.otf") format("opentype"),
    url("/src/assets/fonts/SF-Pro-Display-Medium.otf") format("opentype"),
    url("/src/assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
} */

/* Apply SF Pro Display font to the body */
body {
  margin: 0;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Google Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 600px) {
  .MuiChartsLegend-root {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[class^="ag-"][type="number"]:not(.ag-number-field-input-stepper) {
  -moz-appearance: textfield;
  appearance: textfield; /* Added line */
}



th {
  text-align: inherit; /* Inherits the text-align value from its parent */
}

.ag-body-viewport,
.ag-center-cols-viewport {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.ag-body-viewport::-webkit-scrollbar,
.ag-center-cols-viewport::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@keyframes ag-shake-left-to-right {
  from {
    transform: translateX(-2px); /* Replaces padding-left */
  }
  to {
    transform: translateX(2px); /* Replaces padding-right */
  }
}

.ag-theme-quartz .ag-standard-button,
.ag-theme-quartz-dark .ag-standard-button,
.ag-theme-quartz-auto-dark .ag-standard-button {
  font-family: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: var(--ag-border-radius);
  border: solid 1px var(--ag-input-border-color);
  background-color: var(--ag-background-color);
  cursor: pointer;
}

.fadeInUp-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fadeInUp-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.fadeInUp-exit {
  opacity: 1;
  transform: translateY(0);
}
.fadeInUp-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;

  scrollbar-width: none;

  /* Hide scrollbar for IE/Edge */
}
