/* src/styles/agentDashboard.css */

.dashboard-container {
  display: flex;
  position: relative; /* Ensure relative positioning for contained elements */
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
  width: 100%; /* Ensure it takes full width */
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100vh;
  background-color: #3f3d56;
  color: #fff;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 2000; /* Ensure it stays on top */
  border-radius: 0 20px 20px 0; /* Add rounded corners to the sidebar */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0); /* Ensure sidebar is visible in desktop view */
  }
  
  .sidebar.open ~ .main-content {
    margin-left: 180px; /* Adjust this based on your sidebar width */
  }

  .sidebar.closed ~ .main-content {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
  }
}

.content-wrapper {
  padding: 20px;
}

.welcome-message h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.statistics-panel,
.visits-panel,
.calendar,
.promos-panel {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

.stat-box {
  background-color: #fff;
  text-align: center;
}

.list-group-item {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #3f3d56;
  border: none;
}
