/* src/components/common/SearchResults.module.css */

.search-results {
  background-color: white; /* Ensure background is white */
  color: black; /* Text color is black */
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  z-index: 1000;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
}

.search-result-item.selected {
  background-color: #f0f0f0;
}
