/* components/calendarPage/CalendarPage.css */

.rbc-header {
  border-bottom: none;
  padding-top: 0.5rem;
}

.rbc-toolbar .rbc-toolbar-label {
  font-weight: bold;
  font-size: 1.5rem;
}

.rbc-date-cell {
  padding-top: 0.5rem;
  text-align: center;
}

/* Default height for larger screens */
.rbc-event {
  height: 40px !important;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .rbc-event {
    height: 30px !important;
  }
}

.rbc-event-label {
  display: none;
}
